# dependencies
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# production
__debug_bin
dist

# misc
.DS_Store

# umi
.umi
.umi-production

# other
configs.json
servers.json
src/io_test.go
*.exe