.logo a {
  color: #fff;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  text-align: center;
  display: block;
}

footer {
  text-align: center;
}

main {
  background: #fff;
  padding: 10px;
}
