@font-face {
  font-family: 'consolas';
  src: url('./assets/consolas.ttf');
}

.logo a {
  display: block;
  color: #fff;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  text-align: center;
}

.logo a:hover {
  display: block;
  color: #e0e0e0;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
  text-align: center;
}

.layout .header {
  background: #f0f2f5;
}

.layout .content {
  padding: 10px;
  background: #fff;
}

.pointer {
  cursor: pointer;
}

.ulist,
.ulist li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tips {
  margin-right: 5px;
}

.toolbar {
  position: absolute;
  top: 20px;
  right: 5px;
}

.toolbar button {
  margin-right: 5px;
}

.sublist .ant-table-tbody>tr>td {
  max-width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.str_row .ant-table-row-expand-icon {
  display: none;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}
