@font-face {
  font-family: 'consolas';
  src: url('./assets/consolas.ttf');
}

body,
td,
th,
.ant-pagination {
  font-family: 'consolas';
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.hilightRow {
  background-color: #f5f5f5;
}

.hilightRow td {
  font-weight: bold;
}
