@font-face {
    font-family: 'consolas';
    src: url('./assets/consolas.ttf');
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

body,
td,
th,
.ant-pagination {
    font-family: 'consolas';
}

header {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

tr.str_row .ant-table-row-expand-icon {
    display: none;
}

.sublist {
    table-layout: fixed;
}

.sublist .ant-table-tbody>tr>td {
    max-width: 25vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: auto;
}

.new-entry {
    position: absolute;
    top: 15px;
    right: 5px;
}

.new-entry button {
    margin-right: 5px;
}

ul.nodeList,
ul.nodeList li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ant-table-title {
    text-align: right;
}
