.normal {
    margin-top: 4em;
    text-align: center;
}

.welcome {
    height: 50vh;
    background: url(../assets/logo.svg) no-repeat center 0;
    background-size: 50vh 50vh;
}

.list {
    font-size: 1.2em;
    margin: 1.8em 0 0;
    list-style: none;
    line-height: 1.5em;
}

.list code {
    background: #f7f7f7;
}
